
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #e8e8e8;
	padding: 106px 108px 137px 142px;
}
.lines{
	width: 1190px;
	background: url('../img/2lines.png') 0 0 no-repeat;
	padding: 62px 0 0 0;
}
.travel{
	text-align: center;
	opacity: 0.6;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #273d46;
	margin: 0 0 28 px;
}
.donec{
	margin: 0 0 77px 205px;
	text-align: center;
	width: 721px;
	font-family: 'Times New Roman';
	font-size: 36px;
	line-height: 50px;
	font-weight: 400;
	color: #273d46;
}
.photo{
	margin: 0 0 97px 147px;
	background: url('../img/light_man.jpg') 50% no-repeat, #fff;
	width: 841px;
	height: 561px;
	box-shadow: 0 0 10px #000;
}
.donec2{
	opacity: 0.8;
	font-family: 'Times New Roman';
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #273d46;
	margin: 0 0 59px 192px;
	width: 736px;
}
.list{
	margin: 0 0 59px 0;
}
.list_one{
	background: url('../img/check_icon.png') 0 7px no-repeat;
	padding: 0 0 0 36px;
	overflow: hidden;
/*	box-shadow: 0 0 10px #000;*/
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}
.list_two{
	background: url('../img/check_icon.png') 0 7px no-repeat;
	padding: 0 0 0 36px;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	font-style: italic;
	color: #80b7b3;
}
.list_three{
	background: url('../img/check_icon.png') 0 7px no-repeat;
	padding: 0 0 0 36px;
	font-family: Arial;
	ont-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #273d46;
}
.list_four{
	background: url('../img/check_icon.png') 0 7px no-repeat;
	padding: 0 0 0 36px;
	opacity: 0.3;
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	text-decoration: line-through;
	color: #273d46;
}
.button{
	margin: 0 0 200px 192px;
	border-radius: 20px;
	width: 199px;
	height: 44px;
	box-shadow: 0px 6px 40px 0px rgba(128,183,179,0.54);
	background: url('../img/arrow.png') 151px 15px no-repeat, #80b7b3;
	padding: 0 0 0 30px;
}
.full{
	height: 44px;
	font-family: Arial;
	font-size: 14px;
	line-height: 40px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background: #80b7b3;
}
